.blog__title {
  text-align: center;
}

.blog__wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.blog__nav {
  max-width: 400px;
  margin-right: 70px;
}

.blog__nav-item {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 30px;
  border-top: 1px solid #061b28;
  border-bottom: 1px solid #061b28;
  margin-top: -1px;
  transition: 0.1s;
}

.blog__nav-item:hover {
  color: #fcfcfc;
  background-color: #061b28;
  transition: 0.3s;
}

.blog__nav-item_date,
.blog__content-date {
  display: block;
  font-size: 14px;
  color: #626f77;
}

.blog__nav-item_title {
  margin-top: 20px;
  display: block;
  font-size: 18px;
  line-height: 140%;
}

.blog__nav-button {
  cursor: pointer;
  color: #fcfcfc;
  background-color: #ec5118;
  width: 100%;
  padding: 20px auto;
  margin-top: 30px;
  font-size: 16px;
}

.blog__content {
  max-width: 700px;
  flex: 1 1 auto;
}

.blog .hidden {
  display: none;
}

.blog .is-visible {
  display: block;
}

.blog__content-img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 40px;
}

.blog__content-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  margin-top: 20px;
  margin-bottom: 35px;
}

.blog-content-text {
  text-align: justify;
}

@media (max-width: 768px) {
  .blog__nav-item {
    padding: 20px 5px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .blog__wrapper {
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .blog__nav {
    margin-right: 0;
  }

  .blog__content {
    margin-top: 40px;
  }

  .blog__content-img {
    margin-bottom: 20px;
  }
}

/* сделай переключение блога по красоте */
